* {
	margin: 0;
	padding: 0;
}

body {
	
	font-family: sans-serif;
	background-color: black;
}

nav, main {
	margin: 0 auto;
	width: 1100px;
}

nav {
	margin-top: 20px;
	padding: 5px 20px;

	background-color: black;
}

button {
	margin: 10px 0;
	padding: 4px 10px;
}

main {
	padding: 20px;
	background-color: black;
}

#search {
	padding: 0 10px;
	width: 100%;
	line-height: 32px;
	box-sizing: border-box;
	color: white;
	background-color: black;
	border: 2px solid white;
}

.card {
	display: inline-block;
	vertical-align: top;
	margin: 5px 10px;
	width: 250px;
	color: gray;
	/*background-color: green;*/
	table-layout: fixed;
	border-collapse: collapse;
}

.card tr {

}

.card th {
	padding: 2px 5px;
	font-size: 14px;
	color: lightgray;
	background-color: #151515;
}

.card td {
	width: 125px;
	padding: 2px;
	text-align: center;
	font-size: 11px;
	border-right: 1px solid gray;
}

.card tr:first-child td {
	background-color: #151515;
}

.card tr:first-child td, .card td:last-child {
	border: none;
}

.card tr:nth-last-child(2) td, .card tr:nth-last-child(3) td {
	border-bottom: 1px solid gray;
}

.card img {
	height: 140px;
}

.card span {
	padding-left: 5px;
}

.card .active {
	font-weight: bold;
	color: white;
}