* {
	margin: 0;
	padding: 0;
}

body {
	
	font-family: sans-serif;
	background-color: black;
}

nav, main {
	margin: 0 auto;
	width: 1095px;
}

nav {
    margin-top: 20px;
    width: 1135px;
    font-size: 14px;
    font-family: sans-serif;
	background-color: black;
}

#search_wrapper {
	position: relative;
}

#search {
	padding: 0 14px;
	width: 100%;
	line-height: 32px;
	box-sizing: border-box;
	color: white;
	background-color: black;
	outline: none;
	border: 2px solid gray;
}

#search:focus {
	border-color: lightgray;
}

#search_result {
	position: absolute;
	display: none;
	padding: 10px 15px;
	width: 100%;
	height: 280px;
	box-sizing: border-box;
	list-style-type: none;
	color: gray;
	background-color: #1E1E1E;
	border-bottom: 2px solid gray;
}

.show {
	display: block !important;
}
/* Результат поиска в инпуте */
#search_result li {
	padding: 2px 5px;
}

#search_result li:hover {
	color: white;
	cursor: pointer;
}

.active {
	color: white;
}

#show_effects {
	position: absolute;
	margin: 0;
	padding: 0;
	top: -5px;
	left: 100%;
	width: 55px;
	height: 52px;
	background: url(../images/Alchemy.png) 100% 0 no-repeat;
	background-size: auto 100%;
	outline: none;
	opacity: 0.7;
	border-radius: 0;
}

#show_effects:hover {
	opacity: 1;
}

.table_effects {
	position: absolute;
	display: none;
	width: 1135px;
	color: gray;
	text-align: center;
	background-color: #1E1E1E;
	border-bottom: 2px solid gray;
}

.table_effects .table_col {
	display: inline-block;
	padding: 5px 10px;
	vertical-align: top;
	text-align: left;
}

.table_effects ul {
	margin: 15px 0;
	list-style-type: none;
}

.table_effects li {
	height: 16px;
}

.table_effects li:hover {
	color: white;
	cursor: pointer;
}

button {
	margin: 10px 0;
	padding: 4px 10px;
	color: white;
	background-color: gray;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

main {
	padding: 20px;
	
	color: white;
	background-color: black;
}

.card {
	display: inline-block;
	vertical-align: top;
	margin: 5px 10px;
	width: 250px;
	color: gray;
	/*background-color: green;*/
	table-layout: fixed;
	border-collapse: collapse;
}

.card tr {

}

.card th {
	padding: 2px 5px;
	font-size: 14px;
	color: lightgray;
	background-color: #151515;
}

.card td {
	width: 125px;
	padding: 4px;
	text-align: center;
	font-size: 11px;
	border-right: 1px solid gray;
}

.card tr:first-child td {
	background-color: #151515;
}

.card tr:first-child td, .card td:last-child {
	border: none;
}

.card tr:nth-last-child(2) td, .card tr:nth-last-child(3) td {
	border-bottom: 1px solid gray;
}

.card img:first-child {
	height: 140px;
}

.card td:nth-child(2) img {
	margin-left: 5px;
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

.card span {
	padding-left: 5px;
	color: #90854B;
	font-size: 12px;
	vertical-align: middle;
}

.card td:nth-child(1) span {
	color: gray;
}

.card .effect:hover {
	color: white;
	cursor: pointer;
}

.card .active {
	font-weight: bold;
	color: white;
}